name: Build

on:
  push:
    branches:
      - master
    paths-ignore:
      - "*.md"
      - "docs/**"
      - "load-tests/**"
  workflow_dispatch:

jobs:
  call_workflow:
    name: Run Build Workflow
    if: ${{ github.repository_owner == 'wso2-extensions' }}
    uses: ballerina-platform/ballerina-library/.github/workflows/build-timestamp-master-template.yml@main
    secrets: inherit
    